<p id="notice"><%= notice %></p>

<%= render 'layouts/profile', user: @user %>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @user_book.title %></td>
        <td><%= @user_book.body %></td>
        <% if @user.id == current_user.id %>
        <td><%= link_to 'Edit', edit_book_path(@user_book) %></td>
        <td><%= link_to 'Destroy', @user_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>

  </tbody>
</table>

